SQLAlchemy~=1.4.34
pandas~=1.4.1
steampy~=0.75
beautifulsoup4~=4.11.1
requests~=2.27.1
backoff~=2.0.1
deckar01-ratelimit
git+https://github.com/wearefair/protobuf-to-dict
vdf~=3.4
csgo~=1.0.0
steam~=1.2.0
gevent~=21.12.0
arrow~=1.2.2